<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

  <import resource="camel-cxf.xml" />

  <!-- incoming requests from the servlet is routed --><!-- is there a header with the key name? --><!-- yes so return back a message to the user --><!-- if no name parameter then output a syntax to the user -->
  <!-- route starts from the cxf webservice, see camel-cxf.xml for details --><!-- and then create the OK reply for the webservice which is still waiting for a reply --><!--   <route id="pushNewCustomerToTopic">
    <from uri="seda:incomingCustomers"/>
    <convertBodyTo type="java.lang.String"/>
    <to uri="activemq:topic:newCustomer"/>
  </route> --><camelContext xmlns="http://camel.apache.org/schema/spring">
  <route id="helloRoute">
    <from uri="servlet:hello"/>
    <choice>
      <when>
        <header>name</header>
        <transform>
          <simple>Hi I am ${sysenv.HOSTNAME}. Hello ${header.name} how are you today?</simple>
        </transform>
      </when>
      <otherwise>
        <transform>
          <constant>Add a name parameter to uri, eg ?name=foo</constant>
        </transform>
      </otherwise>
    </choice>
    <to uri="mock:endHello"/>
  </route>
  <route id="newCustomer">
    <from uri="cxf:bean:customerEndpoint"/>
    <convertBodyTo type="java.lang.String"/>
    <to uri="activemq:queue:newCustomer"/>
  </route>
  <route id="newCustomerOut">
    <from uri="activemq:queue:newCustomer"/>
    <convertBodyTo type="java.lang.String"/>
    <to uri="file://C://inboxCamel"/>
  </route>
</camelContext>

<bean id="activemq" 
      class="org.apache.activemq.camel.component.ActiveMQComponent">
      <property name="brokerURL" value="tcp://localhost:61616"/>
      <property name="userName" value="admin"/>
      <property name="password" value="admin"/>
</bean>

</beans>
